<app-title *ngIf="title" iconClass="fa fa-calendar-alt" [title]="title" [subtitle]="subtitle" [buttonList]="true"></app-title>
<div class="row">
    <div [ngClass]="{'col-md-8 pr-0': editMode, 'col-md-12': !editMode}">
        <div class="card rounded shadow-sm">
            <form [formGroup]="form">
                <div class="p-3">
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label>Theme</label>
                            <input type="text" class="form-control" 
                            [ngClass]="cssValidator(formControl.theme)" 
                            formControlName="theme" placeholder="Enter the Theme" [(ngModel)]="events.theme">
                            <div *ngIf="formControl.theme.errors?.required" class="invalid-feedback">Theme is required</div>
                            <div *ngIf="formControl.theme.errors?.minlength" class="invalid-feedback">The theme must have a minimum of 4 characters</div>
                            <div *ngIf="formControl.theme.errors?.maxlength" class="invalid-feedback">The theme must be a maximum of 50 characters</div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-8">
                            <label>Location</label>
                            <input type="text" class="form-control"
                            [ngClass]="cssValidator(formControl.local)" 
                            formControlName="local" placeholder="Enter the Location" [(ngModel)]="events.local">
                            <div *ngIf="formControl.local.errors?.required" class="invalid-feedback">Location is required</div>
                        </div>
                        <div class="form-group col-md-4">
                            <label>Date & Time</label>
                            <input type="text" class="form-control"
                            value="{{events.eventDate | DateTimeFormat}}"
                            bsDatepicker [bsConfig]="bsConfig()"
                            [ngClass]="cssValidator(formControl.eventDate)" 
                            formControlName="eventDate" placeholder="Select date and time" [(ngModel)]="events.eventDate">
                            <div *ngIf="formControl.eventDate.errors?.required" class="invalid-feedback">Date & Time is required</div>                    
                        </div>      
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-2">
                            <label>Amount of Peoples</label>
                            <input type="number" class="form-control" 
                            [ngClass]="cssValidator(formControl.peopleCount)" 
                            formControlName="peopleCount" placeholder="" (keydown)="blockInvalid($event)" (input)="sanitizePeopleCount()" [(ngModel)]="events.peopleCount">
                            <div *ngIf="formControl.peopleCount.errors?.required" class="invalid-feedback">Amount of Peoples is required</div>
                            <div *ngIf="formControl.peopleCount.errors?.max" class="invalid-feedback">The number of people should not exceed 120 thousand</div>
                        </div>
                        <div class="form-group col-md-4">
                            <label>Phone</label>
                            <input type="text" class="form-control"
                            mask="(000) 00000-0000"
                            [ngClass]="cssValidator(formControl.phone)" 
                            formControlName="phone" placeholder="(000) 90000-0000" [(ngModel)]="events.phone">
                            <div *ngIf="formControl.phone.errors?.required" class="invalid-feedback">Phone is required</div>                     
                        </div>
                        <div class="form-group col-md-6">
                            <label>Email</label>
                            <input type="text" class="form-control" 
                            [ngClass]="cssValidator(formControl.email)" 
                            formControlName="email" placeholder="Enter the Email" [(ngModel)]="events.email">
                            <div *ngIf="formControl.email.errors?.required" class="invalid-feedback">Email is required</div>
                            <div *ngIf="formControl.email.errors?.email" class="invalid-feedback">You must enter a valid email address</div>                
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="d-flex justify-content-end gap-3">
                        <button class="btn btn-danger border" (click)="resetForm($event)">Cancel Changes</button>
                        <button class="btn btn-success" [disabled]="!form.valid" (click)="saveEvent()"><!--<span class="spinner-border spinner-border-sm mr-1"></span>-->Save Changes</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="card rounded shadow-sm mt-3" *ngIf="editMode">
            <div class="p-3">
                <div class="d-flex border-bottom">
                    <h2 class="mr-auto">
                        Lotes
                    </h2>
                    <h2>
                        <i class="fas fa-money-bill-wave"></i>
                    </h2>
                </div>
                <br>
                <p>Click on Lote button to add and fill new Lotes</p>
                <div class="form-row p-1">
                    <div [formGroup]="form" class="col">
                        <div formArrayName="lotes" *ngFor="let lote of lotes.controls; let i=index">
                            <fieldset [formGroupName]="i" class="form-group">
                                <legend class="d-flex justify-content-between capitalize">
                                    {{returnLoteTitle(lote.get('name').value)}}
                                    <button (click)="deleteLote(confirmDeleteModal, i)" class="p-2 btn btn-sm btn-outline-warning mb-1 d-flex"
                                    tooltip="Delete Lote"
                                    [adaptivePosition]="false"
                                    [delay]="500"
                                    placement="left">
                                    <i class="fa fa-window-close my-1"></i>
                                    <b class="ml-1 d-none d-sm-block">Delete</b>
                                </button>
                            </legend>
                            <div class="row">
                                <div class="form-group col-md-4">
                                    <label>Name</label>
                                    <input [ngClass]="cssValidator(lote.get('name'))" type="text" class="form-control" formControlName="name" placeholder="Lote">
                                </div>
                                <div class="form-group col-md-4">
                                    <label>Quantity</label>
                                    <input [ngClass]="cssValidator(lote.get('quantity'))" type="text" class="form-control" formControlName="quantity" placeholder="000">
                                </div>
                                <div class="form-group col-md-4">
                                    <label>Price</label>
                                    <input [ngClass]="cssValidator(lote.get('price'))" type="text" currencyMask [options]="{align: 'left'}" class="form-control" formControlName="price" placeholder="$ 0.00">
                                </div>
                                <div class="form-group col-md-4">
                                    <label>Initial Date</label>
                                    <input type="text" class="form-control" formControlName="initialDate" placeholder="Select date"
                                    bsDatepicker [bsConfig]="bsConfigLote()"
                                    (bsValueChange)="changeDateValue($event, i, 'initialDate')">
                                </div>
                                <div class="form-group col-md-4">
                                    <label>Final Date</label>
                                    <input type="text" class="form-control" formControlName="finalDate" placeholder="Select date"              
                                    bsDatepicker [bsConfig]="bsConfigLote()"
                                    (bsValueChange)="changeDateValue($event, i, 'finalDate')">
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
            <button class="d-flex btn btn-outline-primary" (click)="addLote()">
                <i class="fa fa-plus-circle my-1"></i>
                <b class="ml-1">Lote</b>
            </button>
        </div>
        <div class="card-footer">
            <div class="d-flex justify-content-end gap-3">
                <button class="btn btn-danger border" (click)="resetForm($event)">Cancel Changes</button>
                <button class="btn btn-success" [disabled]="!form.controls.lotes.valid" (click)="saveLote()"><!--<span class="spinner-border spinner-border-sm mr-1"></span>-->Save Changes</button>
            </div>
        </div>
        </div>        
    </div>
    <div class="col-md-4" *ngIf="editMode">
       <div [formGroup]="form" class="card-event-view shadow-sm">
          <div class="form-row">
             <div class="form-group m-0">
                <input type="file" #file (change)="onFileChange($event)" class="form-control is-invalid" placeholder="" style="display: none">
             </div>
          </div>
          <div class="card profile-card-2">
             <div class="card-img-block">
                <img class="image" [src]="imgURL" class="img-fluid" (click)="file.click()" alt="Card Image"
                tooltip="Upload New Image" [adaptivePosition]="false" placement="bottom" />
             </div>
             <div class="card-body pt-3">
                <h4>{{events.theme}}</h4>
                <p class="card-text">
                   <b>Location:</b> {{events.local}}
                   <br>
                   <b>Date:</b> {{events.eventDate | DateTimeFormat}}
                </p>
                <hr>
                <p class="card-text">
                   <b>Contact</b><br>
                   <small class="text-muted">Phone: {{events.phone}}</small>
                   <br>
                   <small class="text-muted">Email: {{events.email}}</small>
                </p>
                <b>Information</b><br>
                <p class="card-text">
                   <small class="text-muted">Amount of Peoples: {{events.peopleCount}}</small>
                </p>
                <div class="row">
                   <div class="icon-block col-md-8 iconesSociais">
                      <a href="">
                      <i class=""></i>
                      </a>
                   </div>
                   <!--div class="col-md-4 d-flex justify-content-center">
                      <a href="#" class="btn btn-outline-primary">Participar</a>

                      </div-->
                </div>
             </div>
          </div>
       </div>
    </div>
</div>
<ng-template #confirmDeleteModal>
    <div class="modal-body text-center">
        <p>Are you sure you want to <span style="color: red;font-weight: bold;">delete</span> the lote <b>{{this.currentLote.name}}</b> ?</p>
        <button type="button" class="btn btn-primary mr-2" (click)="confirmDeleteLote()">Yes</button>
        <button type="button" class="btn btn-danger" (click)="declineDeleteLote()">No</button>
    </div>
</ng-template>